@import './tailwind.css';

html,
body {
  height: 100%;
  @apply text-gray-900;
}

html {
  scroll-behavior: smooth;
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kalam', cursive;
}

.button {
  @apply text-lg;
  @apply bg-marvel-red;
  @apply border-2;
  @apply border-red-500;
  @apply text-white;
  @apply shadow;
  @apply rounded;
  @apply px-4;
  @apply py-1;
  @apply transition;
  @apply duration-300;
  @apply mx-auto;
  @apply text-center;
}

.button:hover {
  @apply border-red-700;
  @apply shadow-lg;
}
